.navbar{
    display: flex;
    justify-content: space-around;
    background-color: black;
}
a{
    margin: 5px;
    color: blanchedalmond;
    text-decoration: none;

} 
.tabs, .login{
    padding: 3%;
}
.button1{
    padding: 10px;
    /* border-radius: 5px; */
    height: fit-content;
    background-color: #ED661F;
    color: white;
    border: none;
    font-weight: 600;
    margin-top: 33%;
    
}
#header{
    color: white;
}
.section1{
    background-image: url('./images/image\ 1\ \(1\).png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 5%;
}
.home{
    display: flex;
}
.home>img{
    margin-left: 10%;
}
.button2{
    padding: 15px;
    background-color: #ED661F;
    color: white;
    border: none;
    font-weight: 900;
}
.subsection1{
    display: flex;
   background-color: white;
   width: 30%;
   padding: 1.5%;
   margin-top: -3%;
   margin-left: 55%;
   box-shadow: 20px;
   
}
.section2{
    padding: 4%;
    /* background-color: red; */

}
.exist{
    display: flex;
}
.exist>img{
    margin-left: 20%;
    margin-top: 10px;
}
.exist>p{
    margin-top: 90px;
}
.section2>h2{
    margin-top: 90px;
}
.categories{
    margin-left: 40%;
}